<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.vdocipher.cordova.player" version="0.1.0">
        <name>VdoCipher</name>
        <description>Cordova VdoCipher Plugin</description>
        <license>GPL</license>
        <keywords>vdocipher</keywords>
        <js-module src="www/vdocipher.js" name="vdocipher">
            <clobbers target="vdocipher" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="VdoCipher">
                    <param name="ios-package" value="CDVDevice"/>
                </feature>
            </config-file>
        </platform>
    </plugin>
